SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
-- exec al_listadoKits 'ziyaz'

CREATE    PROCEDURE [al_listadoKits]
@base varchar(50)
AS
DECLARE @CADENA AS NVARCHAR(1000)

SET @CADENA='SELECT K.CODKIT, M2.ADESCRI AS ADESCRIKIT, M2.AUNIDAD AS AUNIDADKIT, M1.ACODIGO AS ACODIGO, 
	    M1.ADESCRI AS ADESCRI, M1.AUNIDAD,K.CANART
FROM ['+@base+'].dbo.KITS K 
	left JOIN ['+@base+'].dbo.MAEART M1 ON K.CODART = M1.ACODIGO 
	INNER JOIN ['+@base+'].dbo.MAEART M2 ON K.CODKIT = M2.ACODIGO'

EXECUTE(@CADENA)
GO
