SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [cc_abonadocumento_pro]
@base varchar(50),
@tipo char(1),
@documentoabono char(2),
@abononumdoc varchar(14),
@abonocannumpag char(2),
@zonacodigo char(3),
@tipoplanilla char(2),
@vendedor char(3),
@numplanilla char(6),
@fechapla datetime,
@fechapro datetime,
@moneda char(2),
@abonocancarabo char(1),
@cuenta varchar(20),
@banco char(2),
@tipocam float,
@abonoflpres char(1),
@abonocanimpcan float,
@abonocanimpsol float,
@usuario char(8),
@fechaact datetime,
@forma char(1),
@monedacan char(2),
@abonocantd char(2),
@abonocannro varchar(14),
@fechacan datetime,
@cliente varchar(11),
@empresa char(2)='01'
As
Declare @ncadena as nvarchar(4000)
Declare @parame  as nvarchar(4000)
if @tipo=1
  Begin 
   
   set @ncadena=N'Insert Into ['+@base+'].dbo.vt_abono
	               (documentoabono,
			abononumdoc,
			abonocannumpag,
			zonacodigo,
			abonotipoplanilla,
			vendedorcodigo,
			abononumplanilla,
			abonocanfecpla,
			abonocanfecpro,
			abonocanmoneda,
			abonocancarabo,
			abonocancuenta,
			abonocanbco,
			abonocantipcam,	
			abonocanimpcan,
			abonocanimcan,
			abonocanimpsol,
			usuariocodigo,
			fechaact,
			abonocanforcan,
			abonocanmoncan,
			abonocantdqc,
			abonocanndqc,
			abonocanfecan,
			abonocancli,
			abonocanflpres,
			empresacodigo )
		  Values (
			@documentoabono,
			@abononumdoc,
			@abonocannumpag,
			@zonacodigo,
			@tipoplanilla,
			@vendedor,
			@numplanilla,
			@fechapla,
			@fechapro,
			@moneda,
			@abonocancarabo,
			@cuenta,
			@banco,
			@tipocam,
			@abonocanimpcan,
			@abonocanimpcan,
			@abonocanimpsol,
			@usuario,
			@fechaact,
			@forma,
			@monedacan,
			@abonocantd,
			@abonocannro,
			@fechacan,
			@cliente,
			@abonoflpres,
			@empresa )'
	set @parame=N'@documentoabono char(2),
			@abononumdoc varchar(14),
			@abonocannumpag char(2),
			@zonacodigo char(3),
			@tipoplanilla char(2),
			@vendedor char(3),
			@numplanilla char(6),
			@fechapla datetime,
			@fechapro datetime,
			@moneda char(2),
			@abonocancarabo char(1),
			@cuenta varchar(20),
			@banco char(2),
			@tipocam float,		
			@abonocanimpcan float,
			@abonocanimpsol float,
			@usuario char(8),
			@fechaact datetime,
			@forma char(1),
			@monedacan char(2),
			@abonocantd char(2),
			@abonocannro varchar(14),
			@fechacan datetime,
			@cliente varchar(11),
			@abonoflpres char(1),
			@empresa char(2)'
	Exec sp_executesql @ncadena,@parame,@documentoabono,
						@abononumdoc,
						@abonocannumpag,
						@zonacodigo,
						@tipoplanilla,
						@vendedor,
						@numplanilla,
						@fechapla,
						@fechapro,
						@moneda,
						@abonocancarabo,
						@cuenta,
						@banco,
						@tipocam,						
						@abonocanimpcan,
						@abonocanimpsol,
						@usuario,
						@fechaact,
						@forma,
						@monedacan,
						@abonocantd,
						@abonocannro,
						@fechacan,
						@cliente,
						@abonoflpres,
						@empresa
   end
GO
