SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [al_ingresodetalleLiquidacionCompra_pro]
@base varchar(50),
@tabla varchar(50),
@tipo char(1),
@item char(3),
@numero char(11),
@producto char(20),
@unidad char(3),
@cantidad  float,
@preciopacto float,
@dsctoxitem float,
@importebruto float,
@porcomision float,
@mdsctoitem float,
@mdsctoxlinea float,
@mdsctoxprom float,
@mimpor float,
@unidadref float,
@preciolista float,
@partida varchar(15),
@metrica varchar(20)
AS
Declare @cadena nvarchar(3000)
Declare @parame nvarchar(3000)
 if @tipo='1'
    BEGIN
      Set @cadena='INSERT INTO ['+@base +'].dbo.'+@tabla+
		  '  (detpeditem,
	             pedidonumero,
		     productocodigo,
	             unidadcodigo,
	             detpedcantpedida,
		     detpedmontoprecvta,
	             detpeddsctoxitem,
		     detpedimpbruto,
	             detpedporccomis,
   		     detpedmontdsctoxitem,
		     detpedmontodsctoxlinea,
		     detpedmontodsctoxprom,
		     detpedmontoimpto,
		     detpedcantpedidaref,
		     detpedcantentreg,
		     detpedcantdespach,
                     detpedcantentregref,
		     detpedcantdespachref,
			 detpedpreciopact,
			 detpedpartida,
			 detpedmetrica )
		VALUES(
			@item,
			@numero,
			@producto,
			@unidad,
			@cantidad,
			@preciopacto,
			@dsctoxitem,
			@importebruto,
			@porcomision,
			@mdsctoitem,
			@mdsctoxlinea,
			@mdsctoxprom,
			@mimpor,
			@unidadref,
			@cantidad,
			@cantidad,
			@unidadref,
			@unidadref,
			@preciolista,
			@partida,
			@metrica)'
	Set @parame=N'@item char(3),
		@numero char(11),
		@producto char(20),
		@unidad char(3),
		@cantidad  float,
		@preciopacto float,
		@dsctoxitem float,
		@importebruto float,
		@porcomision float,
		@mdsctoitem float,
		@mdsctoxlinea float,
		@mdsctoxprom float,
		@mimpor float,
		@unidadref float,
		@preciolista float,
		@partida varchar(15),
		@metrica varchar(20)'
       execute sp_executesql @cadena,@parame,@item,
						@numero,
						@producto,
						@unidad,
						@cantidad,
						@preciopacto,
						@dsctoxitem,
						@importebruto,
						@porcomision,
						@mdsctoitem,
						@mdsctoxlinea,
						@mdsctoxprom,
						@mimpor,
						@unidadref,
						@preciolista,
						@partida,
						@metrica
	
	END
  IF @tipo='2'	
   BEGIN
      Set @cadena='UPDATE ['+@base +'].dbo.'+@tabla+
		  ' SET detpeditem=@item,
		     productocodigo=@producto,
	             unidadcodigo=@unidad,
	             detpedcantpedida=@cantidad,
		     detpedmontoprecvta=@preciopacto,
	             detpeddsctoxitem=@dsctoxitem,
		     detpedimpbruto=@importebruto,
	             detpedporccomis=@porcomision,
   		     detpedmontdsctoxitem=@mdsctoitem,
		     detpedmontodsctoxlinea=@mdsctoxlinea,
		     detpedmontodsctoxprom=@mdsctoxprom,
		     detpedmontoimpto=@mimpor,
		     detpedcantpedidaref=@unidadref,
		     detpedcantentreg=@cantidad,
		     detpedcantdespach=@cantidad,
                     detpedcantentregref=@unidadref,
		     detpedcantdespachref=@unidadref,
			 detpedpreciopact=@preciolista,
			 detpedpartida=@partida,
			 detpedmetrica=@metrica
		WHERE pedidonumero=@numero'
	Set @parame=N'@item char(3),
		@numero char(11),
		@producto char(20),
		@unidad char(3),
		@cantidad  float,
		@preciopacto float,
		@dsctoxitem float,
		@importebruto float,
		@porcomision float,
		@mdsctoitem float,
		@mdsctoxlinea float,
		@mdsctoxprom float,
		@mimpor float,
		@unidadref float,
		@preciolista float,
		@partida varchar(15),
		@metrica varchar(20)'
       execute sp_executesql @cadena,@parame,@item,
						@numero,
						@producto,
						@unidad,
						@cantidad,
						@preciopacto,
						@dsctoxitem,
						@importebruto,
						@porcomision,
						@mdsctoitem,
						@mdsctoxlinea,
						@mdsctoxprom,
						@mimpor,
						@unidadref,
						@preciolista,
						@partida,
						@metrica
  END
GO
