SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE            PROC [vt_ingresapedido_pro]
@base varchar(50),
@tipo char(1),
@tabla varchar(50),
@puntovta char(2),
@numero varchar(15),
@factura VARchar(15),
@boleta varchar(2),
@guia varchar(15),
@dsctoglobal float,
@dsctoppago float,
@dsctovtaofi float,
@moneda char(2),
@tipocambio float,
@listaprecio char(2),
@mensaje varchar(200),
@modoventa char(2),
@fecha datetime,
@formapago char(2),
@cliente varchar(11),
@vendedor char(3),
@porcomision float,
@almacen char(2),
@totalotros float,
@notaped char(11),
@ordencompra char(11),
@autoriza char(1),
@diaspago float,
@totalitem float,
@totalbruto float,
@totalflete float,
@totalimpuesto float,
@totalneto float,
@usuario char(8),
@fechaactual datetime,
@totaldsctoxlinea float,
@montodsctoppago float,
@entregapedido char(70),
@razon char(60),
@direccion char(80),
@ruc char(11),
@fechafactura datetime,
@TDGlobal float,
@TDCliente float,
@TDOficina float,
@TDItem float,
@TDPromo float,
@observa varchar(100),
@tiporefe varchar(2),
@nrorefe varchar(15),
@nrotransporte varchar(11)='00',
@empresa varchar(2),
@TipoContacto varchar(2)='',
@Profesional varchar(11)='',
@Hora varchar(5)='',
@proyecto varchar(11)=''

As
Declare @cadena as nvarchar(4000)
Declare @parame as nvarchar(4000)
if @tipo='1' 
   Begin
	SET @cadena =N'Insert Into ['+@base +'].dbo.'+@tabla +
           		   '(puntovtacodigo,
		            pedidonumero,
		            pedidonrofact,
		            pedidotipofac,
		            pedidonrogiarem,
		            pedidodsctoglobal,
		            pedidodsctoppago,
		            pedidodsctovtaoficina,
		            pedidomoneda,
		            pedidotipcambio,
		            pedidolistaprec,
		            pedidomensaje,
		            modovtacodigo,
		            pedidofecha,
		            formapagocodigo,
		            clientecodigo,
		            vendedorcodigo,
		            pedidoporccomision,
		            almacencodigo,
		            pedidototalotros,
		            pedidonotaped,
		            pedidoordencompra,
		            pedidoautorizacion,
		            pedidodiaspago,
		            pedidototitem,
		            pedidototbruto,
		            pedidototalflete,
		            pedidototimpuesto,
		            pedidototneto,
		            usuariocodigo,
		            fechaact,
		            pedidototaldsctoxlinea,
		            pedidomontodsctoppago,
			    pedidoentrega,
			    clienterazonsocial,
			    clientedireccion,
			    clienteruc,
		            pedidofechafact,
			    pedidofechasunat,
			    pedidomontodsctoglobal,
			    pedidomontodsctocliente,
			    pedidomontodsctovtaoficina,			
   			    pedidototaldsctoxitem,				
			    pedidototaldsctoxprom,
			    pedidocondicionfactura,
			    pedidoobserva,
			    pedidotiporefe,
			    pedidonrorefe,
			    transportecodigo,
			    empresacodigo,
			    tipocontactocodigo,
			    profesionalcodigo,
			    horaentrega ,
			    proyectocodigo )
                          VALUES (
				@puntovta,
				@numero,
				@factura,
				@boleta,
				@guia,
				@dsctoglobal,
				@dsctoppago,
				@dsctovtaofi,
				@moneda,
				@tipocambio,
				@listaprecio,
				@mensaje,
				@modoventa,
				@fecha,
				@formapago,
				@cliente,
				@vendedor,
				@porcomision,
				@almacen,
				@totalotros,
				@notaped,
				@ordencompra,
				@autoriza,
				@diaspago,
				@totalitem,
				@totalbruto,
				@totalflete,
				@totalimpuesto,
				@totalneto,
				@usuario,
				@fechaactual,
				@totaldsctoxlinea,
  				@montodsctoppago,
				@entregapedido,
				@razon,
				@direccion,
				@ruc,
                		@fechafactura,
				@fechafactura,
				@TDGlobal,
				@TDCliente,
				@TDOficina,
				@TDItem,
				@TDPromo,
				0,
				@observa,
				@tiporefe,
				@nrorefe,
				@nrotransporte,
				@empresa,
				@tipocontacto,
				@profesional,
				@hora,
				@proyecto 
				)'
	SET @Parame = N'@tipo char(2),@puntovta char(2),@numero varchar(15),@factura varchar(15),@boleta char(2),
			@guia varchar(15),@dsctoglobal float,@dsctoppago float,@dsctovtaofi float,	@moneda char(2),
			@tipocambio float,@listaprecio char(2),@mensaje varchar(45),@modoventa char(2),
			@fecha datetime,@formapago char(2),@cliente varchar(11),@vendedor char(3),	@porcomision float,
			@almacen char(2),@totalotros float,@notaped char(11),@ordencompra char(11),
			@autoriza char(1),@diaspago float,@totalitem float,@totalbruto float,@totalflete float,
			@totalimpuesto float,@totalneto float,@usuario char(8),@fechaactual datetime,
			@totaldsctoxlinea float,@montodsctoppago float,@entregapedido char(70),@razon char(60),
			@direccion char(80),@ruc char(11),@fechafactura datetime,@TDGlobal float,@TDCliente float,
			@TDOficina float,@TDItem float,@TDPromo float,@observa varchar(100),@tiporefe varchar(2),
			@nrorefe varchar(11),@nrotransporte varchar(11),@empresa varchar(2),
			@tipocontacto nvarchar(2),@profesional nvarchar(11),@hora varchar(5), @proyecto varchar(11)'
	EXEC sp_executesql @cadena,@parame,@tipo,
					@puntovta,
					@numero,
					@factura,
					@boleta,
					@guia,
					@dsctoglobal,
					@dsctoppago,
					@dsctovtaofi,
					@moneda,
					@tipocambio,
					@listaprecio,
					@mensaje,
					@modoventa,
					@fecha,
					@formapago,
					@cliente,
					@vendedor,
					@porcomision,
					@almacen,
					@totalotros,
					@notaped,
					@ordencompra,
					@autoriza,
					@diaspago,
					@totalitem,
					@totalbruto,
					@totalflete,
					@totalimpuesto,
					@totalneto,
					@usuario,
					@fechaactual,
					@totaldsctoxlinea,
					@montodsctoppago,
					@entregapedido,
					@razon,
					@direccion,
					@ruc,
					@fechafactura,
					@TDGlobal,
					@TDCliente,
					@TDOficina,
					@TDItem,
					@TDPromo,
					@observa,
					@tiporefe,
					@nrorefe,
					@nrotransporte,
					@empresa,
					@tipocontacto,
					@profesional,
					@hora,
					@proyecto 
	end 
if @tipo=2 
  Begin
	SET @cadena =N'UPDATE ['+@base +'].dbo.'+@tabla +
           		 ' SET puntovtacodigo=@puntovta,
		            pedidonrofact=@factura,
		            pedidotipofac=@boleta,
		            pedidonrogiarem=@guia,
		            pedidodsctoglobal=@dsctoglobal,
		            pedidodsctoppago=@dsctoppago,
		            pedidodsctovtaoficina=@dsctovtaofi,
		            pedidomoneda=@moneda,
		            pedidotipcambio=@tipocambio,
		            pedidolistaprec=@listaprecio,
		            pedidomensaje=@mensaje,
		            modovtacodigo=@modoventa,
		            pedidofecha=@fecha,
		            formapagocodigo=@formapago,
		            clientecodigo=@cliente,
		            vendedorcodigo=@vendedor,
		            pedidoporccomision=@porcomision,
		            almacencodigo=@almacen,
		            pedidototalotros=@totalotros,
		            pedidonotaped=@notaped,
		            pedidoordencompra=@ordencompra,
		            pedidoautorizacion=@autoriza,
		            pedidodiaspago=@diaspago,
		            pedidototitem=@totalitem,
		            pedidototbruto=@totalbruto,
		            pedidototalflete=@totalflete,
		            pedidototimpuesto=@totalimpuesto,
		            pedidototneto=@totalneto,
		            usuariocodigo=@usuario,
		            fechaact=@fechaactual,
		            pedidototaldsctoxlinea=@totaldsctoxlinea,
		            pedidomontodsctoppago=@montodsctoppago,
   			    pedidoentrega=@entregapedido,
			    clienterazonsocial=@razon,
			    clientedireccion=@direccion,
			    clienteruc=@ruc, 
                            pedidofechafact=@fechafactura,
			    pedidomontodsctoglobal=@TDGlobal,
			    pedidomontodsctocliente=@TDCliente,
			    pedidomontodsctovtaoficina=@TDOficina,		
   			    pedidototaldsctoxitem=@TDItem,
			    pedidototaldsctoxprom=@TDPromo,
			    pedidocondicionfactura=0,
				pedidoobserva=@observa,
				pedidotiporefe=@tiporefe,
				pedidonrorefe=@nrorefe,
			    transportecodigo=@nrotransporte,
			    tipocontactocodigo=@tipocontacto,
			    profesionalcodigo=@profesional,
		        horaentrega=@hora,
		        proyectocodigo=@proyecto         
			   
         Where  pedidonumero=@numero and  empresacodigo=@empresa'
				
	SET @Parame = N'@tipo char(2),@puntovta char(2),@numero varchar(15),@factura varchar(15),@boleta char(2),
			@guia varchar(15),@dsctoglobal float,@dsctoppago float,@dsctovtaofi float,	@moneda char(2),
			@tipocambio float,@listaprecio char(2),@mensaje varchar(45),@modoventa char(2),
			@fecha datetime,@formapago char(2),@cliente varchar(11),@vendedor char(3),	@porcomision float,
			@almacen char(2),@totalotros float,@notaped char(11),@ordencompra char(11),
			@autoriza char(1),@diaspago float,@totalitem float,@totalbruto float,@totalflete float,
			@totalimpuesto float,@totalneto float,@usuario char(8),@fechaactual datetime,
			@totaldsctoxlinea float,@montodsctoppago float,@entregapedido char(70),@razon char(60),
			@direccion char(80),@ruc char(11),@fechafactura datetime,@TDGlobal float,@TDCliente float,
			@TDOficina float,@TDItem float,@TDPromo float,@observa varchar(100),@tiporefe varchar(2),
			@nrorefe varchar(11),@nrotransporte varchar(11),@empresa varchar(2),
			@tipocontacto nvarchar(2),@profesional nvarchar(11),@hora varchar(5), @proyecto varchar(11)'
	EXEC sp_executesql @cadena,@parame,@tipo,
					@puntovta,
					@numero,
					@factura,
					@boleta,
					@guia,
					@dsctoglobal,
					@dsctoppago,
					@dsctovtaofi,
					@moneda,
					@tipocambio,
					@listaprecio,
					@mensaje,
					@modoventa,
					@fecha,
					@formapago,
					@cliente,
					@vendedor,
					@porcomision,
					@almacen,
					@totalotros,
					@notaped,
					@ordencompra,
					@autoriza,
					@diaspago,
					@totalitem,
					@totalbruto,
					@totalflete,
					@totalimpuesto,
					@totalneto,
					@usuario,
					@fechaactual,
					@totaldsctoxlinea,
					@montodsctoppago,
					@entregapedido,
					@razon,
					@direccion,
					@ruc,
					@fechafactura,
					@TDGlobal,
					@TDCliente,
					@TDOficina,
					@TDItem,
					@TDPromo,
					@observa,
					@tiporefe,
					@nrorefe,
					@nrotransporte,
					@empresa,
					@tipocontacto,
					@profesional,
					@hora,
					@proyecto 
 end
GO
