SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [co_grabaparam_pro]
(@Base varchar(50),
 @Op int, 
 @sistemadescripcionempresa 	[char](40),
 @sistemadescrcortaempresa 	[char](15),
 @sistemaesttipodescrempresa 	[bit],
 @sistemadireccionempresa 	[char](40),
 @sistemaempresaruc 	[char](11),
 @monedacodigo 	[char](2),
 @sistemactacomp 	[varchar](255),
 @sistemaigv 	[numvalor],
 @usuariocodigo 	[nchar](8),
 @fechaact 	[datetime],
 @sistemasubasiento 	[varchar](4),
 @sistemalibro 	[varchar](3),
 @sistematipanal	[varchar](3),
 @sistemactatotal 	[varchar](20),
 @sistemactaIGV 	[varchar](20),
 @sistemactaIES          varchar(20),
 @sistemactaRTA          varchar(20), 
 @sistematipoplan          varchar(2),    
 @sistemaoficina            varchar(3),
 @permite_tc bit,
 @sistemaactivaccostos bit,
 @sistemaasientoenlinea bit, 
 @sistemamultiempresas varchar(1),
 @sistemaactivagastos bit,
 @sistemaconfiguragastos varchar(40),
 @cabprovinumero int ,
 @minimoretencion int,
 @bancarizacion bit ,
 @minimosoles float,
 @minimodolares float,
 @codigopercepcion	[varchar](20)
 
)
AS 
DECLARE @sqlcad nvarchar(4000),@sqlparm nvarchar(4000)
SET @sqlparm='@sistemadescripcionempresa 	char(40),
	 		  @sistemadescrcortaempresa 	char(15),
	 		  @sistemaesttipodescrempresa 	bit,
	 		  @sistemadireccionempresa 	char(40),
	 		  @sistemaempresaruc 	char(11),
	 		  @monedacodigo 	char(2),
	 		  @sistemactacomp 	varchar(255),
	 		  @sistemaigv 	numvalor,
	 		  @usuariocodigo 	nchar(8),
                          @fechaact 	datetime,
	 		  @sistemasubasiento 	varchar(4),
	 		  @sistemalibro 	varchar(2),
	 		  @sistematipanal	varchar(3),
	 		  @sistemactatotal 	varchar(20),
	 		  @sistemactaIGV 	varchar(20),
              @sistemactaIES          varchar(20),
              @sistemactaRTA          varchar(20),
              @sistematipoplan     varchar(2),    
              @sistemaoficina            varchar(3),
              @permite_tc bit,
              @sistemaactivaccostos bit,
              @sistemaasientoenlinea bit,
              @sistemamultiempresas varchar(1),
              @sistemaactivagastos bit,
              @sistemaconfiguragastos varchar(40), 
	      @cabprovinumero int,
	      @minimoretencion int,
              @bancarizacion bit,
              @minimosoles float,
              @minimodolares float,
		@codigopercepcion	[varchar](20)
'
If @Op=1 
Begin 
Set @sqlcad=''+
'INSERT INTO ['+@Base+'].[dbo].[co_sistema] 
	 ( [sistemadescripcionempresa],
	 [sistemadescrcortaempresa],
	 [sistemaesttipodescrempresa],
	 [sistemadireccionempresa],
	 [sistemaempresaruc],
	 [monedacodigo],
	 [sistemactacomp],
	 [sistemaigv],
	 [usuariocodigo],
	 [fechaact],
	 [sistemasubasiento],
	 [sistemalibro],
	 [sistematipanal],
	 [sistemactatotal],
	 [sistemactaIGV], 
          sistemactaIES,  
          sistemactaRTA,
         sistematipoplan,
         sistemaoficina,
         permite_tc,
         sistemaactivaccostos,
         sistemaasientoenlinea,
         sistemamultiempresas,
         sistemactrlgastos,
         sistemaconfiguragastos,
	 cabprovinumero ,
         sistemaminimoretencion, 
 	 Bancarizacion , minimobancarizacion01, minimobancarizacion02,codigopercepcion
)
 
  VALUES 
	(@sistemadescripcionempresa,
	 @sistemadescrcortaempresa,
	 @sistemaesttipodescrempresa,
	 @sistemadireccionempresa,
	 @sistemaempresaruc,
	 @monedacodigo,
	 @sistemactacomp,
	 @sistemaigv,
	 @usuariocodigo,
	 @fechaact,
	 @sistemasubasiento,
	 @sistemalibro,
	 @sistematipanal,
	 @sistemactatotal,
	 @sistemactaIGV,
         @sistemactaIES,
         @sistemactaRTA,
         @sistematipoplan,
         @sistemaoficina,
         @permite_tc,
         @sistemaactivaccostos,
         @sistemaasientoenlinea,
         @sistemamultiempresas,
         @sistemaactrlgastos,
         @sistemaconfiguragastos,
	 @cabprovinumero ,
	 @minimoretencion ,
	 @bancarizacion ,@minimosoles, @minimodolares, @codigopercepcion )'
End
If @Op=2 
Begin 
Set @sqlcad=''+
'UPDATE ['+@Base+'].[dbo].[co_sistema] 
 SET  [sistemadescripcionempresa]	 = @sistemadescripcionempresa,
	 [sistemadescrcortaempresa]	 = @sistemadescrcortaempresa,
	 [sistemaesttipodescrempresa]	 = @sistemaesttipodescrempresa,
	 [sistemadireccionempresa]	 = @sistemadireccionempresa,
	 [sistemaempresaruc]	 = @sistemaempresaruc,
	 [monedacodigo]	 = @monedacodigo,
	 [sistemactacomp]	 = @sistemactacomp,
	 [sistemaigv]	 = @sistemaigv,
	 [usuariocodigo]	 = @usuariocodigo,
	 [fechaact]	 = @fechaact,
	 [sistemasubasiento]	 = @sistemasubasiento,
	 [sistemalibro]	 = @sistemalibro,
	 [sistematipanal]	 = @sistematipanal,
	 [sistemactatotal]	 = @sistemactatotal,
	 [sistemactaIGV]	 = @sistemactaIGV, 
          sistemactaIES          = @sistemactaIES,
          sistemactaRTA          = @sistemactaRTA,    
          sistematipoplan=@sistematipoplan,
          sistemaoficina=@sistemaoficina,
          permite_tc=@permite_tc,
          sistemaactivaccostos=@sistemaactivaccostos,
          sistemaasientoenlinea=@sistemaasientoenlinea,
          sistemamultiempresas=@sistemamultiempresas,
          sistemactrlgastos=@sistemaactivagastos ,
          sistemaconfiguragastos = @sistemaconfiguragastos ,
          cabprovinumero = @cabprovinumero ,
          sistemaminimoretencion =  @minimoretencion ,
          bancarizacion = @bancarizacion ,
          minimobancarizacion01= @minimosoles ,
          minimobancarizacion02= @minimodolares,
	  codigopercepcion = @codigopercepcion 
'
End
Exec sp_executesql @sqlcad,@sqlparm,
                           @sistemadescripcionempresa,
  			   @sistemadescrcortaempresa,
  			   @sistemaesttipodescrempresa,
  			   @sistemadireccionempresa,
  			   @sistemaempresaruc,
  			   @monedacodigo,
  			   @sistemactacomp 	,
  			   @sistemaigv,
  			   @usuariocodigo,
       			   @fechaact,
  			   @sistemasubasiento,
 	                   @sistemalibro,
	 		   @sistematipanal,
	 		   @sistemactatotal,
	 		   @sistemactaIGV,
                           @sistemactaIES,   
                           @sistemactaRTA,
                           @sistematipoplan,
                           @sistemaoficina, 
                           @permite_tc,
                           @sistemaactivaccostos,
                           @sistemaasientoenlinea,
                           @sistemamultiempresas,
                           @sistemaactivagastos,
                           @sistemaconfiguragastos,
			   @cabprovinumero,
			   @minimoretencion,
			   @bancarizacion ,
			   @minimosoles,
			   @minimodolares,
			   @codigopercepcion
GO
