SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Objeto:  procedimiento almacenado dbo.co_grabacabprovi    fecha de la secuencia de comandos: 03/01/2008 05:50:58 p.m. ******/
/****** Objeto:  procedimiento almacenado dbo.co_grabacabprovi    fecha de la secuencia de comandos: 03/01/2008 03:42:50 p.m. ******/
CREATE          proc [co_grabacabprovi] (
	@base varchar(30),
        @tabla varchar(30),
	 @op int,
	 @cabprovinumero bigint=null,	
	 @cabproviano varchar(4)=null,
	 @cabprovimes 	varchar(2)=null,
	 @proveedorcodigo varchar(11)=null,
	 @cabprovirznsoc 	varchar(50)=null,
	 @cabproviruc 	varchar(11)=null,
	 @monedacodigo 	varchar(2)=null,
	 @modoprovicod 	varchar(2)=null,
	 @documetocodigo varchar(2)=null,
	 @cabprovictacte bit=null,
	 @cabproviregcom bit=null,
	 @cabproviestado varchar(1)=null,
	 @cabprovinumdoc varchar(20)=null,
	 @cabprovinumord varchar(20)=null,
	 @cabprovifchdoc datetime=null,
	 @cabprovifchven datetime=null,
	 @cabproviitem 	 varchar(3)=null,
	 @tipocompracodigo 	varchar(2)=null,     
	 @cabprovitotbru 	FLOAT= 0,
	 @cabprovitotdcto 	numvalor=0,
	 @cabprovitotven 	numvalor=0,
	 @cabprovitotigv 	FLOAT=0,
	 @cabprovitotinaf 	FLOAT=0,
	 @cabprovitotal 	FLOAT=0,
	 @cabprovitotcxp 	numvalor=0,
	 @cabprovitipigv 	varchar(1)=null,
	 @cabprovifchconta 	datetime=null,
	 @cabprovifchcancel datetime=null,
	 @cabprovifnupol 	datetime=null,
	 @cabprovitipcambio numvalor=1,
	 @cabprovinumaux 	varchar(20)=null,
	 @cabprovinumtes 	varchar(6)=null,
	 @usuariocodigo 	usuariocodigo=null,     
	 @fechaact 	        fechaact=null,  
     @tiposubasicodigo  varchar(3)=null,
     @cabprovitipdocref varchar(2)=null, 
     @cabprovinref      varchar(20)=null,
     @cabprovifechdocref datetime=null, 
     @cabproviopergrab bit=0,
     @cabprovioficina Varchar(3)=null,
     @cabprovicaja Varchar(2)=null,
     @cabprovifechcaja datetime=null, 
     @cabproviflagmodi bit=0, 
     @cabprovinumtesor varchar(6)=Null,
     @empresacodigo varchar(2)=null )
AS 
DECLARE @sqlcad nvarchar(4000),@sqlparm nvarchar(2000)
SET @sqlparm=' @cabprovinumero bigint,@cabproviano varchar(4),@cabprovimes varchar(2),@proveedorcodigo varchar(11),@cabprovirznsoc varchar(50),
	         @cabproviruc varchar(11),@monedacodigo varchar(2),@modoprovicod varchar(2),
			 @documetocodigo varchar(2), @cabprovictacte bit,@cabproviregcom bit,
			 @cabproviestado varchar(1), @cabprovinumdoc varchar(20),@cabprovinumord varchar(20),
	 		 @cabprovifchdoc datetime, @cabprovifchven datetime,@cabproviitem 	 varchar(3),
	 		 @tipocompracodigo 	varchar(2),@cabprovitotbru numvalor,@cabprovitotdcto numvalor,
	 		 @cabprovitotven numvalor,@cabprovitotigv numvalor,@cabprovitotinaf numvalor,
	 		 @cabprovitotal numvalor,@cabprovitotcxp numvalor,@cabprovitipigv varchar(1),
	 		 @cabprovifchconta 	datetime,@cabprovifchcancel datetime,@cabprovifnupol datetime,
			 @cabprovitipcambio numvalor,@cabprovinumaux varchar(20),@cabprovinumtes varchar(6),
	 		 @usuariocodigo usuariocodigo,@fechaact fechaact,@tiposubasicodigo varchar(3),@cabprovitipdocref varchar(2),@cabprovinref varchar(20),@cabprovifechdocref datetime,@cabproviopergrab bit, 
                         @cabprovioficina Varchar(3),@cabprovicaja Varchar(2),
                         @cabprovifechcaja datetime,
                         @cabproviflagmodi bit,
                         @cabprovinumtesor varchar(6),
                         @empresacodigo varchar(2)'
IF @op=1 --Insertar Datos
BEGIN
	Set @sqlcad='	
	INSERT INTO '+'['+@base+'].[dbo].['+@tabla+']
		 ( 
                 [cabprovinumero],
                 [cabproviano],
                 [cabprovimes],
		 [proveedorcodigo],
		 [cabprovirznsoc],
		 [cabproviruc],
		 [monedacodigo],
		 [modoprovicod],
		 [documetocodigo],
		 [cabprovictacte],
		 [cabproviregcom],
		 [cabproviestado],
		 [cabprovinumdoc],
		 [cabprovinumord],
		 [cabprovifchdoc],
		 [cabprovifchven],
		 [cabproviitem],
		 [tipocompracodigo],
		 [cabprovitotbru],
		 [cabprovitotdcto],
		 [cabprovitotven],
		 [cabprovitotigv],
		 [cabprovitotinaf],
		 [cabprovitotal],
		 [cabprovitotcxp],
		 [cabprovitipigv],
		 [cabprovifchconta],
		 [cabprovifchcancel],
		 [cabprovifnupol],
		 [cabprovitipcambio],
		 [cabprovinumaux],
		 [cabprovinumtes],
		 [usuariocodigo],
		 [fechaact], 
                 tiposubasicodigo,cabprovitipdocref,cabprovinref,
                 cabprovifechdocref,cabproviopergrab,cabprovioficina,
                 cabprovicaja,cabprovifechcaja,cabproviflagmodi,
                 cabprovinumtesor ,
                 empresacodigo  ) 	 
	VALUES 
		(
                 @cabprovinumero,
		 @cabproviano,
		 @cabprovimes,
		 @proveedorcodigo,
		 @cabprovirznsoc,
		 @cabproviruc,
		 @monedacodigo,
		 @modoprovicod,
		 @documetocodigo,
		 @cabprovictacte,
		 @cabproviregcom,
		 @cabproviestado,
		 @cabprovinumdoc,
		 @cabprovinumord,
		 @cabprovifchdoc,
		 @cabprovifchven,
		 @cabproviitem,
		 @tipocompracodigo,
		 @cabprovitotbru,
		 @cabprovitotdcto,
		 @cabprovitotven,
		 @cabprovitotigv,
		 @cabprovitotinaf,
		 @cabprovitotal,
		 @cabprovitotcxp,
		 @cabprovitipigv,
		 @cabprovifchconta,
		 @cabprovifchcancel,
		 @cabprovifnupol,
		 @cabprovitipcambio,
		 @cabprovinumaux,
		 @cabprovinumtes,
		 @usuariocodigo,
		 @fechaact, 
                 @tiposubasicodigo,@cabprovitipdocref,
                 @cabprovinref,@cabprovifechdocref,@cabproviopergrab,
                 @cabprovioficina,@cabprovicaja,@cabprovifechcaja,
                 @cabproviflagmodi,@cabprovinumtesor ,
                 @empresacodigo  )'
END
IF @op=2 --Actualizar
BEGIN
	Set @sqlcad='	
	UPDATE '+'['+@base+'].[dbo].['+@tabla+'] 
	SET  
		 [cabproviano]	 = @cabproviano,
		 [cabprovimes]	 = @cabprovimes,
		 [proveedorcodigo]	 = @proveedorcodigo,
		 [cabprovirznsoc]	 = @cabprovirznsoc,
		 [cabproviruc]	 = @cabproviruc,
		 [monedacodigo]	 = @monedacodigo,
		 [modoprovicod]	 = @modoprovicod,
		 [documetocodigo]	 = @documetocodigo,
		 [cabprovictacte]	 = @cabprovictacte,
		 [cabproviregcom]	 = @cabproviregcom,
		 [cabproviestado]	 = @cabproviestado,
		 [cabprovinumdoc]	 = @cabprovinumdoc,
		 [cabprovinumord]	 = @cabprovinumord,
		 [cabprovifchdoc]	 = @cabprovifchdoc,
		 [cabprovifchven]	 = @cabprovifchven,
		 [cabproviitem]	 = @cabproviitem,
		 [tipocompracodigo]	 = @tipocompracodigo,
		 [cabprovitotbru]	 = @cabprovitotbru,
		 [cabprovitotdcto]	 = @cabprovitotdcto,
		 [cabprovitotven]	 = @cabprovitotven,
		 [cabprovitotigv]	 = @cabprovitotigv,
		 [cabprovitotinaf]	 = @cabprovitotinaf,
		 [cabprovitotal]	 = @cabprovitotal,
		 [cabprovitotcxp]	 = @cabprovitotcxp,
		 [cabprovitipigv]	 = @cabprovitipigv,
		 [cabprovifchconta]	 = @cabprovifchconta,
		 [cabprovifchcancel]	 = @cabprovifchcancel,
		 [cabprovifnupol]	 = @cabprovifnupol,
		 [cabprovitipcambio]	 = @cabprovitipcambio,
		 [cabprovinumaux]	 = @cabprovinumaux,
		 [cabprovinumtes]	 = @cabprovinumtes,
		 [usuariocodigo]	 = @usuariocodigo,
		 [fechaact]	 = @fechaact,
                 tiposubasicodigo=@tiposubasicodigo,
         cabprovitipdocref=@cabprovitipdocref,
         cabprovinref=@cabprovinref,
         cabprovifechdocref=@cabprovifechdocref, 
         cabproviopergrab=@cabproviopergrab, 
         cabprovioficina=@cabprovioficina,
         cabprovicaja=@cabprovicaja,cabprovifechcaja=@cabprovifechcaja, 
         cabproviflagmodi=@cabproviflagmodi, 
         cabprovinumtesor=@cabprovinumtesor,     	
         empresacodigo=@empresacodigo	
   WHERE ( [cabprovinumero]	 = @cabprovinumero)'
END
IF @op=3 --Eliminar
BEGIN
	Set @sqlcad='		
	DELETE '+'['+@base+'].[dbo].['+@tabla+']
	WHERE 
	( [cabprovinumero]	 = @cabprovinumero)'
END
Exec sp_executesql @sqlcad,@sqlparm,
                  @cabprovinumero,@cabproviano,@cabprovimes,@proveedorcodigo,@cabprovirznsoc,
	               @cabproviruc,@monedacodigo,@modoprovicod,
			       @documetocodigo,@cabprovictacte,@cabproviregcom,
			       @cabproviestado,@cabprovinumdoc,@cabprovinumord,
	 		       @cabprovifchdoc,@cabprovifchven,@cabproviitem,
	 		       @tipocompracodigo,@cabprovitotbru,@cabprovitotdcto,
	 		       @cabprovitotven,@cabprovitotigv,@cabprovitotinaf,
	 		       @cabprovitotal,@cabprovitotcxp,@cabprovitipigv,
	 		       @cabprovifchconta,@cabprovifchcancel,@cabprovifnupol,
			       @cabprovitipcambio,@cabprovinumaux,@cabprovinumtes,
	 		       @usuariocodigo,@fechaact,@tiposubasicodigo,
                               @cabprovitipdocref,@cabprovinref,
                               @cabprovifechdocref,@cabproviopergrab, 
                               @cabprovioficina,@cabprovicaja,
                               @cabprovifechcaja,@cabproviflagmodi,
                               @cabprovinumtesor,
                               @empresacodigo
GO
